.loader-cards{
    display: flex;
    gap: 30px;
    height: 60px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}
.loader-section{
    margin-top: 20px;
    height: 220px;
    width: 99%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.description-section{
padding: 10px;
}
.icon{
        border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}
.icon-description{   
width: 15%;
display: flex;
justify-content: center;
align-items: center;
}