.loader-cards{
    background-color: rgb(145, 172, 215);
    display: flex;
    gap: 30px;
    height: 60px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
      margin-top: 20px;
    display: flex;
    gap: 10px;
}
.loader-cards.completed {
   background: green;
}

.loader-cards.active {
   background: blue;
}

.loader-cards.pending {
   background: gray;
}

.completed .icon {
   color: green;
}
.description-section{
padding: 10px;
font-size: 16px;
}
.icon{
        border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}
.l-subdescription{
    font-weight: 700;
}
.icon-description{   
width: 15%;
display: flex;
justify-content: center;
align-items: center;
}