.loader-cards{
    /* background-color: rgb(145, 172, 215); */
    display: flex;
    gap: 30px;
    height: 60px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
      margin-top: 20px;
    display: flex;
    gap: 10px;
}
.loader-cards.active {
  background: #0261de;
}

.step-card.completed {
  background: #04de50;
}

.icon.completed {
   background-color: green;
}
.icon{
background-color: red;
}
.description-section{
padding: 10px;
font-size: 16px;
}
.icon{
        border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}
.l-subdescription{
    font-weight: 700;
}
.icon-description{   
width: 15%;
display: flex;
justify-content: center;
align-items: center;
}