.card-icon{
    height: 40px;
    width: 40px;
}
.feature-card{
    gap:20px ;
    height: 100%;
    width: 100%;
    padding: 13px;
    display: flex;
   background-color: #ffffff;
}
.t1{
    font-size: 24px;
}
.t2{ 
    margin-top: 10px;
    font-size: 17px;
}