.upload-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.upload-section{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.uplaod-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 60px;
}

.text-1{
    font-size: 20px;
    font-weight: 500;
}
.text-2{
    font-size: 16px;
    color: #666;
}
input[type="file"]::file-selector-button {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: #4338ca;
}
