.upload-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.upload-section{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.uplaod-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 60px;
}

.text-1{
    font-size: 20px;
    font-weight: 500;
}
.text-2{
    font-size: 16px;
    color: #666;
}
