body{
    margin: 0;
    padding: 0;
}
.header{
    width:100%;
    color: red;
    border-bottom: 2px solid rgb(183, 176, 176);
}
.icon-div{
    margin-left: 39px;
    padding:5px;
    display: flex;
width: 30%;
gap: 10px;

}
.icon-description{
color: black;
}